<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{{ .Site.Title }} {{ if (and (ne .Title .Site.Title) (ne (len .Title) 0)) }} - {{ .Title }} {{ end }}
		</title>

		{{ partial "head/metadata.html" . }}
		{{ partial "head/favicons.html" . }}
		{{ partial "head/styles.html" . }}
	</head>

	<body>
		<div id="top"></div>
		{{- partial "header/header.html" . -}}

		<main>{{- block "main" . }}{{- end }}</main>

		{{- partial "footer/footer.html" . -}}
		{{- partial "footer/scripts.html" . -}}
	</body>
</html>
