<header class="text-gray-700 bg-white shadow">
	<div class="container flex flex-col flex-wrap items-center mx-auto p-5 md:flex-row main-width">
		{{- partialCached "component/logo.html" . -}}

		{{ $page := . }}
		<ul class="flex flex-wrap items-center justify-center text-base md:ml-auto">
			{{- range .Site.Menus.main -}}
				<li
					class="mr-5 hover:text-gray-600 hover:underline {{ if $page.HasMenuCurrent "main" . }}bg-primary{{ end }}"
				>
					{{- .Pre -}}<a href="{{ .URL | absURL | safeURL }}" title="{{ .Name | safeHTML }}"
						>{{- .Name | emojify | safeHTML -}}</a
					>{{- .Post -}}
				</li>
			{{ end }}
		</ul>
	</div>
</header>
